#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB     &kp Q   &kp W  &kp E   &kp R  &kp T             &kp Y      &kp U  &kp I     &kp O  &kp P  &kp BSPC
&kp LCTRL   &kp A     &kp S      &kp D     &kp F  &kp G             &kp H      &kp J  &kp K     &kp L  &kp SEMI  &kp SQT
&kp ESCAPE  &kp Z  &kp X      &kp C     &kp V  &kp B             &kp N      &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp ENTER
                                 &kp LGUI  &mo 1  &kp LEFT_SHIFT    &kp SPACE  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp LBKT       &kp LS(W)  &kp LS(E)  &kp LS(LBKT)  &trans          &kp ASTERISK  &kp N7        &kp N8        &kp N9        &kp BACKSLASH  &trans
&trans     &kp LS(LBKT)  &kp LS(N9)     &kp LS(N0)   &kp LS(MINUS)  &kp LS(EQUAL)    &kp LBKT     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp RBKT      &kp SQT
&kp LSHFT  &trans         &kp MINUS       &kp EQUAL     &trans        &trans          &kp E       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp RIGHT_BRACE       &kp RIGHT_SHIFT
                                         &trans       &trans        &trans          &trans        &kp N0        &kp ENTER
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&trans     &trans  &trans  &trans  &trans      &trans    &trans              &kp LA(LEFT_ARROW)  &kp LA(DOWN_ARROW)  &kp LA(UP_ARROW)  &kp LA(RIGHT_ARROW)  &trans
&trans     &trans  &trans  &trans  &trans      &trans    &kp LG(LEFT_ARROW)  &kp LEFT_ARROW      &kp DOWN_ARROW      &kp UP_ARROW      &kp RIGHT_ARROW      &kp LG(RIGHT_ARROW)
&kp LSHFT  &trans  &trans  &trans  &trans      &trans    &kp LG(BACKSPACE)   &kp LA(BACKSPACE)   &kp BACKSPACE       &kp DELETE        &kp LA(DELETE)       &kp LG(DELETE)
                           &trans  &kp ESCAPE  &trans    &trans              &trans              &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
